<div>
  When the DB updates from another users online replication, 
  the updates will show here. 
</div>
<div id="output"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%= javascript_pack_tag :pouchDBoutput %>