<p>This is an example of writing into pouchDB</p>
<p>
  Here, the input field writes into pouch db whenever there is an onchange. 
  Check the console for a success message when writing into the input box
</p>
<label for="">Input something into PouchDB and CouchDB</label> <br> <br>
<input type="text" id="form_input"> <br> <br>
<button id="submit_button">Click me to submit the form input into pouchDB</button> <br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%= javascript_pack_tag :pouchDBinput %>