<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
           Assessment visit notes
        </h1>
        <p class="govuk-!-margin-bottom-9">
           <a href="not-built-yet" class="govuk-link--no-visited-state">Rename<span class="govuk-visually-hidden"> these assessment visit notes</span></a>
        </p>
        <h2 class="govuk-heading-l">
           Google Drive files
        </h2>
        <p>
           You have not added any Google Drive files yet.
        </p>
        <form method="get" action="gdrive">
           <p>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add Google Drive file
              </button>
           </p>
        </form>
        <h2 class="govuk-heading-l">
           Written notes
        </h2>
        <p>
           You have not added any written notes yet.
        </p>
        <form method="post" action="create-written-note">
           <p>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add written note
              </button>
           </p>
        </form>
        <h2 class="govuk-heading-l">
           Audio recordings
        </h2>
        <p>
           You have not added any audio recordings yet.
        </p>
        <p>
           <a href="not-built-yet" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
           Add audio recording
           </a>
        </p>
        <h2 class="govuk-heading-l">
           Images and videos
        </h2>
        <p>
           You have not added any images or videos yet.
        </p>
        <p>
           <a href="new-media-file" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
           Add an image or video
           </a>
        </p>
     </div>
     <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-6 govuk-!-margin-bottom-8" style="background-color: #e5e5e5">
           <h3 class="govuk-heading-m">
              Download these assessment notes
           </h3>
           <p>
              When you've finished adding assessment notes, you can download them as a single file.
           </p>
           <p>
              <a href="not-built-yet" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
              Download<span class="govuk-visually-hidden"> assessment notes</span>
              </a>
           </p>
           <p>
              <a href="not-built-yet" class="govuk-link--no-visited-state">Preview assessment notes</a>
           </p>
        </div>
        <h3 class="govuk-heading-s">
           Change or add to these notes in the future
        </h3>
        <p>
           You can access these notes using this code:
        </p>
        <p class="govuk-inset-text">
           <strong><code>16WT-8JJS-87D6-WP34</code></strong>
        </p>
        <p>
           You'll need to confirm your identity each time you access this page using your Local authority email address.
        </p>
     </div>
  </div>
</main>
