<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            Audio file upload
         </h1>

           <div class="govuk-grid-row">
           	<div class="govuk-grid-column-two-thirds">
              <p>
                 Quering status of the transcoding job
              </p>
           	</div>
           </div>
      </div>
   </div>
</main>
