<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
            Google Drive files
         </h1>
         <p>
            Select the file from the list below
         </p>
         <form method="post" action="form">
           <%= csrf_meta_tags %>
           <p>
             <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
               <% @files.each_with_index do |file, i| %>
                 <div class="govuk-radios__item">
                    <input class="govuk-radios__input" name="filename" type="radio" value="<%= file.id %>">
                    <label class="govuk-label govuk-radios__label" for="existing-new">
                      <%= file.as_json['name'] %>
                    </label>
                 </div>
               <% end %>
              </div>
            </p>
            <p>
               <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
               Select
               </button>
            </p>
         </form>

      </div>

   </div>
</main>
