<%= form_for @case_note, url: update_path(@case_note) do | f | %>
   <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
         <label class="govuk-label govuk-label--xl" for="note-content">
         Note content
         </label>
      </h1>
      <textarea class="govuk-textarea" id="note-content" name="body" rows="20" aria-describedby="note-content-hint"><%= @case_note.body %></textarea>
   </div>
   <p class="govuk-!-margin-bottom-0">
    <%= f.submit "Save and continue", class: "govuk-button govuk-!-margin-bottom-0" %>
   </p>
   <p>
   </p>
<% end %>
